* {
  font-family: Georgia;
}

/*
div {
  border: 1px solid blue;
}
*/

textarea {
  width: 250px;
  height: 200px;
}

label, button, input {
  display: block;
  margin: 10px auto;
}

ul {
  list-style-type: none;
}

select {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: gray;
}

button {
  padding: 20px;
  font-family: Georgia;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
}

div#closed {
  display: none;
}

div#container {
  display: flex;
  flex-flow: row;
}
div.column {
  margin: 5px;
}

div.conduct {
  display: none;
}

label, input#name {
  width: 200px;
}

ul#numbells li {
  display: inline-block;
  width: 20px;
  border: 1px solid black;
  text-align: center;
}
ul#numbells li:nth-child(2) {
  color: white;
  background-color: black;
}

ul#conduct {
  display: none;
}
ul#conduct li {
  display: inline-block;
  padding: 4px;
  margin: 7px;
  border: 1px solid black;
}
ul#conduct li:hover {
  cursor: pointer;
}

#keyboard input {
  display: inline-block;
  width: 15px;
  margin: 0;
}
#keyboard label {
  display: inline-block;
  max-width: 85px;
  margin: 5px;
}


input#chat {
  width: 250px;
}

div#room {
  position: relative;
}

div#playing {
  position: absolute;
  display: none;
  background-color: white;
  opacity: 0.8;
  width: 400px;
  text-align: center;
  top: 200px;
}

div.bell {
  position: absolute;
  top: 175px;
  transition: left 200ms linear, top 150ms linear;
}

div.controls {
  position: absolute;
  top: 325px;
}
div.controls button {
  padding: 10px 20px;
}


div.base {
  position: absolute;
  height: 4px;
  top: 70px;
  width: 32px;
  left: 34px;
}

div.handle {
  position: absolute;
  width: 20px;
  height: 60px;
  top: 74px;
  left: 40px;
  color: white;
  text-align: center;
}
div.handle > p {
  margin-top: 140%;
}
div.handle.small {
  width: 18px;
  left: 41px;
}

#c5 {
  left: 0px;
}

#d5 {
  left: 100px;
}

#e5 {
  left: 200px;
}

#f5 {
  left: 300px;
}

#g5 {
  left: 400px;
}

#a5 {
  left: 500px;
}

#b5 {
  left: 600px;
}

#c6 {
  left: 700px;
}

#d6 {
  left: 800px;
}

#e6 {
  left: 900px;
}

#f6 {
  left: 1000px;
}

#g6 {
  left: 1100px;
}

#a6 {
  left: 1200px;
}

#b6 {
  left: 1300px;
}

#c7 {
  left: 1400px;
}

#d7 {
  left: 1500px;
}

#c5 > div, #c6 > div, #c7 > div {
  background-color: #e22;
}

#d5 > div, #d6 > div, #d7 > div {
  background-color: rgb(248, 134, 6);
}

#e5 > div, #e6 > div {
  color: black;
  background-color: rgb(255, 234, 0);
}

#f5 > div, #f6 > div {
  color: black;
  background-color: rgb(133, 234, 98);
}

#g5 > div, #g6 > div {
  background-color: rgb(4, 152, 108);
}

#a5 > div, #a6 > div {
  background-color: rgb(81, 6, 249);
}

#b5 > div, #b6 > div {
  background-color: rgb(236, 19, 232);
}

#c5 > div.base {
  width: 41px;
  left: 30px;
}

#d5 > div.base {
  width: 39px;
  left: 31px;
}

#e5 > div.base {
  width: 37px;
  left: 32px;
}

#f5 > div.base {
  width: 35px;
  left: 33px;
}

#g5 > div.base {
  width: 34px;
  left: 33px;
}
